<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="http://artifactory.infotecs.ru/artifactory/api/nuget/nugetorg" />
        <add key="team" value="http://msk-tfs-t.infotecs-nt:8080/tfs/SrvNccCollection/_packaging/team/nuget/v3/index.json" />
        <add key="infotecs" value="http://msk-tfs-t.infotecs-nt:8080/tfs/SrvNccCollection/_packaging/infotecs/nuget/v3/index.json" />
    </packageSources>
</configuration>